.voyage-planner-container{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.voyage-route-container{
    width: 20%;
    height: 100vh;
    border-left: 2px solid grey;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#port-select{
    width: 90%;
}
.port-locator{
    line-height: 2;
}
.voyage-listing{
    line-height: 1.5;
}

.voyage-map-container{
    width: 80%;
    height: 100vh;
    text-align: center;
}

#route-map{
  width: 100%;
  height: 90%;
}
#map-container{
    width: 100%;
    height: 100%;
}
